**/__pycache__/
**/*.pyc
*.pyc
.vscode/
benchmark_results/
logs/
.idea/
*.DS_Store
*.egg-info/
build/
venvPF/
.vscode/
wandb
outputs
.git
nohup.out
commit_hash.txt
.pytest_cache
data/val_test/pfam/test/clustered_split_fastas/
data/val_test/pfam/val/clustered_split_fastas/
data/val_test/overlap_counts/
data/val_test/pfam/test/random_split_fastas/
data/val_test/pfam/val/random_split_fastas/
src/models/tranception
data/val_test/overlap_counts/
src/models/tranception
data/val_test/overlap_counts/
data/cath_chain_topology_class.pickle
