**/__pycache__/
**/*.pyc
*.pyc
.vscode/
benchmark_results/
logs/
.idea/
*.DS_Store
*.egg-info/
build/
venvPF/
.vscode/
wandb
outputs
.git
*.o*
nohup.out
commit_hash.txt
.pytest_cache
data/val_test/pfam/test/clustered_split_fastas/
data/val_test/pfam/val/clustered_split_fastas/
data/val_test/overlap_counts/
data/val_test/pfam/test/random_split_fastas/
out/
data/val_test/pfam/val/random_split_fastas/
data/all_heldout_sequences.csv
data/val_test_heldout_representative_sequences.fasta
data/val_test/ted_esmif_accessions_split.json
src/models/tranception
data/val_test/overlap_counts/
src/models/tranception
data/val_test/overlap_counts/
data/cath_chain_topology_class.pickle
*/.ipynb_checkpoints/
.ipynb_checkpoints/
.env
.bash_history
.cache
.ipython
.local
.python_history
.dotnet
.gitconfig
.gnupg
.ssh
.vscode-server
src/tools/foldtoken/
results/
out/
.lesshst
