**/__pycache__/
**/*.pyc
.vscode/
benchmark_results/
logs/
.idea/
*.DS_Store
*.egg-info/
build/
venvPF/
.vscode/
wandb
outputs
.git
nohup.out
.pytest_cache
data/val_test/pfam/test/clustered_split_fastas/
data/val_test/pfam/val/clustered_split_fastas/
data/val_test/pfam/test/random_split_fastas/
data/val_test/pfam/val/random_split_fastas/
commit_hash.txt
